.form {
    width: 100%;
    grid-area: inputs;
    margin: 0;
    display: flexbox;
    align-items: center;
    padding: 5px;
    vertical-align: center !important;
}

.inputs{
    margin: 0.5em;
}

